*{
    padding :0%;
    margin:0%;
    box-sizing: border-box;
}
body{
    margin: 1%;
    font-family:'Poppins,  Actor, Adamina';
}
#sectheader{
    background-color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
}
.list> ul> li{
    display: flex;
    flex-direction: row;
    float: right; 
    padding: 50px;
    list-style: none;
    color: antiquewhite;
}
.modern{
    color:white;
    display: flex;
    flex-direction:row;
    padding: 10px
}
.header{
    padding-left:50px;
}
.fig{
    float: right;
    padding-left: 700px;
}
#keylay{
    padding:100px;
    background-color: rgb(179, 175, 175);
    color: antiquewhite;
}
.phone{
    display:flex;
    flex-direction: row;
}
.phone1>button{
    color:white;
    padding:50px;
    width:200px;
}
.img1{
    background-image: url("../Assets/Images /Property\ House.png");
    height: 800px;
    width: 650px;
    padding-left:80px;
    padding-top: 50px;
}
.flex-container{
    display: flex;
    row-gap: 30px;
}
.flex-item1{
    background-image: url("../Assets/Images /Rectangle.png");
    height: 110px;
    width: 90px;
    padding: 10px;
}
.flex-item2{
    background-image: url("../Assets/Images /Rectangle-1.png");
    height: 110px;
    width: 90px;
    padding:10px;
}
.flex-item3{
    background-image: url("../Assets/Images /Rectangle-2.png");
    height: 110px;
    width: 90px;
}
.flex-item4{
    background-image: url("../Assets/Images /Rectangle-3.png");
    height: 110px;
    width: 90px;
}
.flex-item5{
    background-image: url("../Assets/Images /Rectangle-4.png");
    height: 110px;
    width: 90px;
}
.flex-item6{
    background-image: url("../Assets/Images /Rectangle-5.png");
    height: 110px;
    width: 90px;
}
.flex-item7{
    background-image: url("../Assets/Images /Rectangle-6.png");
    height: 110px;
    width: 90px;
}
.desc {
    width: 60%;
    height: 350px;
    border-radius: 25px;
    background-color: azure;
}
.desc p {
    padding: 30px;
}
.features{
    width: 60%;
    height: 350px;
    border-radius: 25px;
    background-color: azure;
}
.fix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;

}
.fix li {
    list-style: none;
    padding: 8px;
}
.fix i {
    padding-right: 5px;
}
h4 {
    padding: 15px;
}
.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 50px;
}
.card {
    background-color: aqua;
    height: 300px;
    border-radius: 25px;
    
}
.whole {
    height: 450px;
    border-radius: 25px;
    background-color: whitesmoke;
}
.card1 {
    background-color: aqua;
    height: 300px;
    border-radius: 25px;
    background-image: url("neymar.jpg");
    background-size: cover;
}
.card2 {
    background-color: aqua;
    height: 300px;
    border-radius: 25px;
    background-image: url("neymar.jpg");
    background-size: cover;
}
.card3 {
    background-color: aqua;
    height: 300px;
    border-radius: 25px;
    background-image: url("neymar.jpg");
    background-size: cover;
}
.card4 {
    background-color: aqua;
    height: 300px;
    border-radius: 25px;
    background-image: url("neymar.jpg");
    background-size: cover;
}
.smaller {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
}
.small {
    height: 50px;
    border: 0.5px solid black;
    width: 95px;
    border-radius: 10px;
    row-gap: 20px;
    align-content: center;
}
.small h2 {
    padding-left: 30px;
}
.black {
    background-color: black;
    height: 400px;
}
.dream {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}
.dream button {
    background-color: yellow;
    height: 50px;
    width: 130px;
}
.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.listing li, h3 {
    color: white;
    list-style: none;
}
.icons i {
    color: white;
    padding-top: 70px;
    padding-right: 20px;
}