*{
    padding :0%;
    margin:0%;
    box-sizing: border-box;
}
body{
    margin: 1%;
    font-family:'Poppins,  Actor, Adamina';
}
#sectheader{
    background-image: url("../Assets/Images /moving 1.png");
    opacity: 1.4;
    height: 100vh;
    background-size: cover;
}
.list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    float: right;
    padding-top: 50px;
    padding-right:100;
    padding-bottom: 100;
}
li{
    padding:10px;
    padding-right: 50px;
    color:antiquewhite;
    display: flex;
    display:inline-block;
    list-style: none;
}
.Register{
    padding: 3px;
    color:black;
    background-color: yellow;
}
.Register:hover{
    color: yellow;
    background-color: blue;
}
.Login{
    color: yellow;
    background-color: black;
    padding:3px;
}
.change{
    color: yellow;
    font-size: 50px;
    text-align: left;
    padding: 80px;
}
.roof{
    font-size: 30px;
    text-align: left;
    color: rgba(236, 227, 227, 0.932);
    padding-left: 80px;
}
#sectcut{
    padding-top: 3%;
    margin: 0%;
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.cut2{
    padding: 95px;
    height: 100%;
    width: 70%;
}
.cut2 h2{
    font-size: xx-large;
    padding-bottom: 50px;
}
.learn{
    background-color: black;
    color: yellow;
    margin: 40px;
    padding: 3%;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 100px;
    padding-right: 100px
}
#secttop{
    background-color: rgb(161, 160, 160);
    padding
}
#secttop h1{
    padding: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: xx-large;
}

.A>.Movers{
    padding: 10px;
}
.grid-item1{
    background-image: url("../Assets/Images /ehem\ 1.png");
    height: 200px;
    width: 300px;
    background-size: cover;
}
.Maridadi>.Mar{
    padding:10px;
}
.grid-item1 h4{
    padding: 10px;
}
.grid-item2{
    background-image: url("../Assets/Images /wewe\ 1.png");
    height: 200px;
    width: 300px;
    background-size: cover;
}
.ufalme>.uf{
    padding:10px;
}
.grid-item3{
    background-image: url("../Assets/Images /movers\ 1.png");
    height: 200px;
    width: 300px;
    background-size: cover;
}
.chapchap>.chap{
    padding:10px;
}
.grid-item4{
    background-image: url("../Assets/Images /chapchap\ 1.png");
    height: 200px;
    width: 300px;
    background-size: cover;
}
.songa>.son{
    padding:10px;
}
.grid-item5{
    background-image: url("../Assets/Images /mashinani\ 1.png");
    height: 200px;
    width: 300px;
    background-size: cover;
}
.upesi>.Upes{
    padding:10px;
}
.grid-item6{
    background-image: url("../Assets/Images /songa\ 1.png");
    height: 200px;
    width: 300px;
    background-size: cover;
}
footer{
    background-color: black;
    height:350px;
}
footer h1{
    color:white;
    padding: 50px;
}  
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.column1> ul>li{
    display: flex;
    flex-direction: column;
    color:white;
}
.column2> ul>li{
    display: flex;
    flex-direction: column;
    color:white;
}
.column3> ul>li{
    display: flex;
    flex-direction: column;
    color:white;
}
.icons {
    opacity: 2;
}
.icons i {
    color: rgb(226, 226, 240);
    padding: 20px;
    justify-content: space-around;
}